{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="row gutters-sm">
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
          <img src="{% static "user_image.jpg" %}" alt="Admin" class="rounded-circle" width="150">
          <div class="mt-3">
            <h4>{{ user.first_name }} {{user.last_name }}</h4>
            <p class="text-secondary mb-1">{{ user.username }}, {{ user.student.department }}</p>
            <p class="text-muted font-size-sm">Batch: {{ user.student.batch }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card mb-3">
      <div class="card-body">
        {% if not courses %}
        <div class="row">
          <div class="col-sm-8">
            <h5 class="mb-0">You haven't registered for any course yet.</h5>
          </div>
        </div>
        <hr>
        {% else %}
          <div class="row">
            <div class="col-sm-8">
              <h4 class="mb-0">Your Courses</h4>
            </div>
          </div>
          <hr>
          {% for course in courses %}
            <div class="row">
              <div class="col-sm-6">
                <h6 class="mb-0">{{ course.course }}</h6>
              </div>
              <div class="col-sm-3 text-secondary">
                Faculty: {{ course.faculty }}
              </div>
              <div class="col-sm-3 text-secondary">
                Semester: {{ course.semester }}
              </div>
            </div>
            <hr>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
