<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pinocchio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
          Pinocchio
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'registration' %}">Registrations</a>
            {% if user.is_authenticated %}
              {% if user.student %}
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
              {% endif %}
              {% if user.staff.is_admin %}
                <div class="dropdown">
                  <a class="nav-item nav-link" id="admin_panel">Admin Panel</a>
                  <div class="dropdown-content">
                    <a href="{% url 'view_course' %}">Courses</a>
                    <a href="{% url 'view_department' %}">Departments</a>
                    <a href="{% url 'create_registration' %}">Create New Course Registration</a>
                    <a href="{% url 'create_course_registration' %}">Add Course to Registration</a>
                  </div>
                </div>
              {% endif %}
              <a class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
              <form id="logout" action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <input type="hidden">
              </form>
            {% else %}
              <div class="dropdown">
                <a class="nav-item nav-link" id="signup">Sign Up</a>
                <div class="dropdown-content">
                  <a href="{% url 'student_sign_up' %}">Sign Up as a Student</a>
                  <a href="{% url 'faculty_sign_up' %}">Sign Up as a Faculty</a>
                  <a href="{% url 'staff_sign_up' %}">Sign Up as a Staff</a>
                </div>
              </div>
              <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <div id="content" class="container">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
