{% extends 'index.html' %}
{% load static %}

{% block content %}
{% if success %}
  <div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Cool!</strong> {{ success }}
  </div>
{% endif %}

<div class="row gutters-sm">
  <div class="col-md-3 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
          <img src="{% static "course_image.jpg" %}" alt="Admin" class="rounded-circle" width="150" height="150">
          <div class="mt-3">
            <h4>Courses</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card mb-3">
      <div class="card-body">
        {% if not courses %}
        <div class="row">
          <div class="col-sm-8">
            <h5 class="mb-0">No courses created yet.</h5>
          </div>
          <div class="col-sm-2">
            <a href="{% url 'create_course' %}"><button class="btn btn-info" name="button">Create Course</button></a>
          </div>
        </div>
        <hr>
        {% else %}
          <div class="row">
            <div class="col-sm-8">
              <h4 class="mb-0">Courses</h4>
            </div>
            <div class="col-sm-2">
              <a href="{% url 'create_course' %}"><button class="btn btn-info" name="button">Create Course</button></a>
            </div>
          </div>
          <hr>
          {% for course in courses %}
            <div class="row">
              <div class="col-sm-4">
                <h6 class="mb-0">{{ course.name }}</h6>
              </div>
              <div class="col-sm-4">
                <h6 class="mb-0">Code: {{ course.code }}</h6>
              </div>
              <div class="col-sm-4">
                <h6 class="mb-0">Credits: {{ course.credits }}</h6>
              </div>
            </div>
            <hr>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
