{% extends 'index.html' %}

{% block content %}
  {% if error %}
    <div class="alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Error!</strong> {{ error }}
    </div>
  {% endif %}
  <div class="row gutters-sm">
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="card-body">
          {% if not future_registrations %}
          <div class="row">
            <div class="col-sm-8">
              <h5 class="mb-0">No Upcoming Registrations</h5>
            </div>
          </div>
          <hr>
          {% else %}
            <div class="row">
              <div class="col-sm-8">
                <h4 class="mb-0">Upcoming Registrations</h4>
              </div>
            </div>
            <hr>
            {% for registration in future_registrations.all %}
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="mb-0">{{ registration.name }}</h6>
                </div>
                <div class="col-sm-4 text-secondary">
                  Will start on {{ registration.startTime }}
                </div>
              </div>
              <hr>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="row gutters-sm">
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="card-body">
          {% if not present_registrations %}
          <div class="row">
            <div class="col-sm-8">
              <h5 class="mb-0">No Registrations currently going on</h5>
            </div>
          </div>
          <hr>
          {% else %}
          <div class="row">
            <div class="col-sm-8">
              <h4 class="mb-0">Live Registrations</h4>
            </div>
          </div>
          <hr>
          {% for registration in present_registrations.all %}
            <div class="row">
              <div class="col-sm-4">
                <h6 class="mb-0">{{ registration.name }}</h6>
              </div>
              <div class="col-sm-4 text-secondary">
                Will end on {{ registration.endTime }}
              </div>
              <div class="col-sm-3 text-secondary">
                <a href="{% url 'live_registration' registration.id %}"><button class="btn btn-info" name="button">Register Courses</button></a>
              </div>
            </div>
            <hr>
          {% endfor %}
        {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
